<div class="all">
  <content class="image">
    <div class="desk">
      <button (click)="moverPrimeiroParaUltimo()"><</button>
      <img
        *ngFor="let imagem of imagens.slice(0, 6)"
        [src]="imagem"
        alt="Imagem"
      />
      <button (click)="moverUltimoParaPrimeiro()">></button>
    </div>

    <div class="mobo">
      <button (click)="moverPrimeiroParaUltimo()"><</button>
      <img
        *ngFor="let imagem of imagens.slice(0, 1)"
        [src]="imagem"
        alt="Imagem"
      />
      <button (click)="moverUltimoParaPrimeiro()">></button>
    </div>
  </content>
  <main class="txt">
    <p>
      Here is some equipaments that i build by my own, one by one, all handmade
      job.
    </p>
    <p></p>
  </main>
</div>
